################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ISqlInterface/bin
/ISqlInterface/obj
/quickDBExplorer/bin
/quickDBExplorer/obj
/.vs/QuickDBExplorer/v14/.suo
/SqlServer2000Driver/bin
/SqlServer2000Driver/obj
/SqlServer2005Driver/bin
/SqlServer2005Driver/obj
/SqlServer2000Driver/SqlServer2000Driver.xml
/SqlServer2005Driver/SqlServer2005Driver.xml
/SqlServer2008Driver/bin
/SqlServer2008Driver/obj
/SqlServer2008R2Driver/bin
/SqlServer2008R2Driver/obj
/SqlServer2012Driver/bin
/SqlServer2012Driver/obj
/SqlServer2014Driver/bin
/SqlServer2014Driver/obj
/SqlServer2016Driver/bin
/SqlServer2016Driver/obj
/SqlServer2017Driver/bin/Debug
/SqlServer2017Driver/bin/Release
/SqlServer2017Driver/obj/Debug
/SqlServer2017Driver/obj/Release
/installPack/quickDBExplorer
v15
/.vs/QuickDBExplorer/v16
/.vs/QuickDBExplorer/v17
/.vs/QuickDBExplorerV40/v16
/SqlServer2019Driver/*.user
/ISqlInterface/*.user
/quickDBExplorer/*.user
.vs
Debug
Release
/packages/LumenWorksCsvReader.4.0.0
/packages/Microsoft.NETFramework.ReferenceAssemblies.net45.1.0.3
Newtonsoft.Json.13.0.2
/packages/Newtonsoft.Json.13.0.3/.signature.p7s
/packages/Newtonsoft.Json.13.0.3/LICENSE.md
/packages/Newtonsoft.Json.13.0.3/Newtonsoft.Json.13.0.3.nupkg
/packages/Newtonsoft.Json.13.0.3/README.md
/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/packageIcon.png
